<header id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% for i in 0..2 %>
      <li data-target="#mycarousel" data-slide-to="#{i}" class="#{'active' if i == 0}"></li>
    <% end %>
  </ol>
  <!-- Wrapper for slides -->
  <% i = 0 %>
  <div class="carousel-inner">
    <% @projects.each do |project| %>
      <% if project.picture? %>
        <div class="carousel-item <%= 'active' if i == 0 %>">
          <%= image_tag project.picture.url, class: "fill" %>
          <div class="carousel-caption">
            <h2><%= project.name %></h2>
          </div>
        </div>
        <% i = i + 1 %>
      <% end %>
    <% end %>
  <!-- Controls -->
  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</header>

<div class = "container">
  <!-- Portfolio Section -->
  <h2>Principais projetos</h2>
  <div class="row">
    <% i = 0 %>
    <% @projects.each do |project| %>
      <% if i < 6 %>
        <% if project.picture? %>
          <% i = i + 1 %>
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <%= link_to (image_tag project.picture.url, class:"card-img-top"), project.professor %>
              <div class="card-body">
                <h4 class="card-title">
                  <%= link_to project.name, project %>
                </h4>
                <p class="card-text">
                  <%= project.description %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
