<div class="container" >
  <%= form_for(@project) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <br>
      <%= f.label :name, "Nome" %>
      <%= f.text_field :name, class: 'form-control' %>
      <br>
      <%= f.label :data_start, "Data de Início" %>
      <%= f.text_area :date_start, class: 'form-control' %>
      <br>
      <%= f.label :data_finish , "Data de Término"%>
      <%= f.text_area :date_finish, class: 'form-control' %>
      <br>
      <%= f.label :fomento , "Aceita Fomento? "%>
      <%= f.check_box :fomento, class: 'checkbox' %><label for="fomento">Sim</label>
      <br>
      <br>
      <%= f.label :local , "Local"%>
      <%= f.text_area :local, class: 'form-control' %>
      <br>
      <%= f.label :description, "Descrição" %>
      <%= f.text_area :description, class: 'form-control' %>
      <br>
      <%= f.label :n_participants , "Número de Participantes"%>
      <%= f.number_field :n_participants, class: 'form-control' %>
      <br>
      <%= f.label :v_volunteers , "Número de Voluntários"%>
      <%= f.number_field :v_volunteers, class: 'form-control' %>
      <br>
      <%= f.label :v_bolsistas, "Número de Bolsistas" %>
      <%= f.number_field :v_bolsistas, class: 'form-control' %>
      <br>
      <%= f.label :perfil_volunteers , "Perfil dos Voluntários"%>
      <%= f.text_area :perfil_volunteers, class: 'form-control' %>
      <br>
      <%= f.label :picture , "Imagem"%>
      <span class="picture">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>


    </div>
    <br>
    <%= f.submit "Cadastrar projeto", class: "btn btn-project" %><br>
    <br>
  <% end %>
  <script type="text/javascript">
    $('#project_picture').bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert('Maximum file size is 5MB. Please choose a smaller file.');
      }
    });
  </script>
</div>
