<% provide(:title, 'Cadastro') %>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Cadastro <small>Professores</small></h1>
      <%= render_breadcrumbs builder: ::Bootstrap4BreadcrumbsBuilder %>
    </div>
  </div>
  <p class = "bg-succces"><strong>* campos obrigatórios</strong></p>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <%= form_for(@professor, url: signup_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
          <label for="nomeCompleto" class="col-md-3 control-label">Nome completo*:</label>
          <div class="col-md-9">
            <%= f.text_field :name,  placeholder: "Ex: Maria das Dores", autofocus: true, required: true, class: 'form-control' %><br>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-md-3 control-label">E-mail*</label>
          <div class="col-md-9">
            <%= f.email_field :email, placeholder: "Ex: maria@mail.com", required: true, class: 'form-control' %><br>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-md-3 control-label">Senha* (mínimo 6 dígitos)</label>
          <div class="col-md-9">
            <%= f.password_field :password, placeholder: "Senha", required: true, class: 'form-control' %><br>
          </div>
        </div>
        <div class="form-group">
          <label for="password2" class="col-md-3 control-label">Confirme sua senha*</label>
          <div class="col-md-9">
            <%= f.password_field :password_confirmation, placeholder: "Senha", required: true, class: 'form-control' %><br>
          </div>
        </div>
        <div class="form-group">
          <label for="telefone" class="col-md-3 control-label">Telefone*</label>
          <div class="col-md-6">
            <%= f.phone_field :phone, placeholder: "Ex: (12) 3900-0000", required: true, class: 'form-control' %><br>
          </div>
          <label for="ramal" class="col-md-1 control-label">Ramal*</label>
          <div class="col-md-2">
            <%= f.phone_field :ramal, placeholder: "Ramal", required: true, class: 'form-control' %><br>
          </div>
        </div>
        <div class="form-group">
          <label for="celular" class="col-md-3 control-label">Telefone celular</label>
          <div class="col-md-9">
            <%= f.phone_field :phone_cel, placeholder:"Ex: (12) 99000-0000", class: 'form-control' %><br>
          </div>
        </div>
        <div class="form-group">
          <label for="area" class="col-md-3 control-label">Área de especialização*</label>
          <div class="col-md-9">
            <%= f.text_field :specialization, placeholder:"Ex: Cálculo numérico", required: true, class: 'form-control' %><br>
          </div>
        </div>
        <div class="form-group">
          <label for="sala" class="col-md-3 control-label">Sala*</label>
          <div class="col-md-9">
            <%= f.text_field :room, placeholder:"Ex: 302", required: true, class: 'form-control' %><br>
          </div>
        </div>
        <div class="form-group">
          <label for="lattes" class="col-md-3 control-label">Link para currículo Lattes*</label>
          <div class="col-md-9">
            <%= f.text_field :lattes, placeholder:"Ex: http://lattes.gov.br/seulattes", class: 'form-control' %><br>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-9 col-md-offset-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" required>Aceito os <a href="#">termos de uso</a><br>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-9 col-md-offset-3">
            <%= f.submit "Cadastrar", class: "btn btn-project" %><br>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--<h1>Cadastro</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@professor, url: signup_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      Nome: <%= f.text_field :name, class: 'form-control' %>
      Email: <%= f.email_field :email, class: 'form-control' %>
      Telefone: <%= f.phone_field :phone, class: 'form-control' %>
      Ramal: <%= f.phone_field :ramal, class: 'form-control' %>
      Celular: <%= f.phone_field :phone_cel, class: 'form-control' %>
      Especialização: <%= f.text_field :specialization, class: 'form-control' %>
      Sala: <%= f.text_field :room, class: 'form-control' %>
      Currículo Lattes: <%= f.text_field :lattes, class: 'form-control' %>
      Senha:  <%= f.password_field :password, class: 'form-control' %>
      Confirmar senha: <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Criar conta", class: "btn btn-primary" %>
    <% end %>
  </div>
</div> -->
