<% provide(:title, 'Projetos e Programas de Extensão') %>
<div class="container">
	<!-- Page Heading/Breadcrumbs -->
	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">Projetos e Programas de Extensão
	            <small>Todos</small>
	        </h1>
	        <ol class="breadcrumb">
	            <li> <%= link_to "Home", root_path %> </li>
	            <li class="active">Projetos</li>
	        </ol>
	    </div>
	</div>
	<!-- /.row -->
	<h1></h1>
	<% if logged_in? %>
		<%= link_to "Cadastre um projeto", newproj_path, class: "btn btn-lg btn-primary" %>
	<% end %>
	<%= will_paginate %>

	<div class="row" style="text-align: justify;">
		<ul class="projects">	
		   <%= render @projects %>  
		</ul>
	</div>
	</div>
	<%= will_paginate %>
</div>
