<% provide(:title, 'Projetos e Programas de Extensão') %>
<div class="container">
	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">Projetos e Programas de Extensão <small>Todos</small></h1>
					<ol class="breadcrumb">
					  <%= render_breadcrumbs :tag => :li, :separator => "" %>
					</ol>
	    </div>
	</div>

	<% if logged_in? %>
		<%= link_to "Cadastre um projeto", newproj_path, class: "btn btn-lg btn-project" %>
	<% end %>

	<%= will_paginate %>
	<div class="row" style="text-align: justify;">
		<ul class="projects">
		   <%= render @projects %>
		</ul>
	</div>
	<%= will_paginate %>
	
</div>
