<% provide(:title, @project.name) %>
<div class="container">
  <div class="row">
      <div class="col-lg-12">
        <%= render_breadcrumbs builder: ::Bootstrap4BreadcrumbsBuilder %>
      </div>
  </div>
  <div class="container" >
    <div class="row">
      <div class="col-lg-12">
        <!-- Name -->
        <h1 class="mt-4"><%= @project.name %></h1>
        <!-- Author -->
        <p class="lead">
          por
          <%= link_to @project.professor.name, @project.professor %>
        </p>
        <hr>
        <!-- Date/Time -->
        <p>Postado <%= time_ago_in_words(@project.created_at) %> atrás.</p>
        <hr>
        <!-- Preview Image -->
        <div class="text-center">
          <% if @project.picture? %>
            <%= link_to (image_tag @project.picture.url), @project.professor, class:"img-fluid rounded" %>
          <% else %>
            <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
          <% end %>
        </div>

        <hr>
        <!-- Post Content -->
        <p><b>Data de início:</b> <%= @project.date_start %></p>
        <p><b>Data de fim:</b> <%= @project.date_finish %></p>
        <p><b>Descrição:</b> <%= @project.description %></p>
        <p><b>Fomento:</b> <%= @project.fomento %></p>
        <p><b>Local:</b> <%= @project.local %></p>
        <p><b>Imagens: </b><%= @project.images %></p>
        <p><b>Número de participantes: </b><%= @project.n_participants %></p>
        <p><b>Vagas para voluntários:</b> <%= @project.v_volunteers %></p>
        <p><b>Vagas para bolsistas:</b> <%= @project.v_bolsistas %></p>
        <p><b>Perfil dos voluntários: </b><%= @project.perfil_volunteers %></p>
        <hr>
      </div>
    </div>
  </div>
</div>
