<header style="background-color: #215A36;">
  <nav class="navbar navbar-expand-lg navbar-dark" style = "font-size:0.8em">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link", accesskey="1", href="#1"><span> Ir para o conteúdo </span> <span style="color: black; background-color: white; font-size:0.8em;"> 1 </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link", accesskey="2" href="#2"><span> Ir para o menu </span> <span style="color: black; background-color: white; font-size:0.8em;"> 2 </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link", accesskey="3" href="#3"><span> Ir para a busca </span> <span style="color: black; background-color: white; font-size:0.8em;"> 3 </span></a>
          </li>
          <li class="last-item">
            <a class="nav-link", accesskey="4" href="#footer"><span> Ir para o rodapé </span> <span style="color: black; background-color: white; font-size:0.8em;"> 4 </span></a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav ml-auto text-uppercase">
        <li class="nav-item">
          <a class="nav-link", href="#"><span> Acessibilidade </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link", href="#"><span> Alto contraste </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link", href="#"><span> Mapa do Sítio </span></a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to image_tag('Unifesp.png',  height: "90px"), root_path %>
        </li>
        <li class="collapse navbar-collapse ml-2 mb-0 h1 text-white">Universidade Federal de São Paulo</li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <div class="btn-group">
            <% if logged_in? %>
              <div class="dropdown">
                <button class="btn btn-sm btn-project dropdown-toggle " type="button"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Olá, <%= @current_professor.name %>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <li class="dropdown-item"><%= link_to "Perfil", current_professor, class: "nav-dropdown" %></li>
                  <li class="dropdown-item"><%= link_to "Configurações", edit_professor_path(current_professor), class: "nav-dropdown"%></li>
                  <div class="dropdown-divider"></div>
                  <li class="dropdown-item"><%= link_to "Logout", logout_path, method: :delete, class: "nav-dropdown"%></li>
                </ul>
              </div>
            <% else %>
              <%= link_to "Login", login_path, class:"btn btn-project navbar-btn" %>
              <%= link_to "Cadastre-se!", signup_path, class: "btn btn-project navbar-btn" %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #184127">
    <div class = "container">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Projetos", projects_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Professores", professors_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sobre", sobre_path, class: "nav-link" %>
        </li>
        <li class = "dropdown">
          <%= link_to "#", class:"dropdown-toggle", class: "nav-link", "data-toggle" => "dropdown", id: "menu1" do %>
            <span>Dúvidas</span>
            <span data-glyph="caret-bottom" title="caret-bottom" aria-hidden="true"></span>
          <% end %>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation">
              <%= link_to "Tutoriais", tutorials_path, class: "nav-dropdown" %>
            </li>
            <li role="presentation">
              <%= link_to "Dúvidas Frequentes", duvidas_path, class: "nav-dropdown" %>
            </li>
          </ul>
        </li>
      </ul>
      <%# ARRUMAR PESQUISA%>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <div class="widget-search-top" id="busca-teste">
            <form role="search" method="get" id="searchform" class="navbar-form" action="#">
              <div class="input-group">
                <input type="text" class="form-control search-field" name="s" id="search-bar" accesskey="3" placeholder="Entre com sua busca..." title="Ops... função de busca em construção!">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit"><span class="fa fa-refresh fa-spin fa-fw" aria-hidden="true"></span></button>
                </span>
              </div>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
