<header class="navbar navbar-static-top navbar-inverse", style="background-color: #215A36;">
  <div class="container">
    <font size="2">
      <nav class="row">
        <ul class="nav navbar-nav hidden-sm hidden-xs hidden-md">
          <li>
            <%= link_to "#1", :accesskey => "1" do %>
              <span>Ir para o conteúdo</span>
              <span style="color: black; background-color: white"> 1 </span>
            <% end %>
          </li>
          <li>
            <%= link_to "#2", :accesskey => "2" do %>
              <span>Ir para o menu</span>
              <span style="color: black; background-color: white"> 2 </span>
            <% end %>
          </li>
          <li>
            <%= link_to "#3", :accesskey => "3" do %>
              <span>Ir para a busca</span>
              <span style="color: black; background-color: white"> 3 </span>
            <% end %>
          </li>
          <li class="last-item">
            <%= link_to "#footer", :accesskey => "4" do %>
              <span>Ir para o rodapé</span>
              <span style="color: black; background-color: white"> 4 </span>
            <% end %>
          </li>
        </ul>
				<ul class="nav navbar-nav navbar-right">
					<li> <%= link_to "ACESSIBILIDADE", "#", { :color => "white" }%> </li>
					<li> <%= link_to "ALTO CONTRASTE", "#", { :color => "white" }%> </li>
          <li> <%= link_to "MAPA DO SÍTIO", "#", { :color => "white" }%> </li>
        </ul>
      </nav>
    </font>
  </div>
  <div class="container">
    <nav class="row">
      <div class="col-md-10 col-sm-10 col-xs-10">
        <%= link_to image_tag('Unifesp.png',  height: "90px"), root_path %>
      </div>
      <div class="col-md-auto col-sm-auto col-xs-auto">
         <div class="btn-group">
             <% if logged_in? %>
               <div class="dropdown">
                 <button class="btn btn-project navbar-btn dropdown-toggle " type="button" data-toggle="dropdown">Olá, <%= @current_professor.name %>
   <span class="caret"></span></button>
                 <ul class="dropdown-menu">
                   <li><%= link_to "Perfil", current_professor %></li>
                   <li><%= link_to "Configurações", edit_professor_path(current_professor) %></li>
                   <li class="divider"></li>
                     <li><%= link_to "Logout", logout_path, method: :delete%></li>
                 </ul>
             </div>
             <% else %>
               <%= link_to "Login", login_path, class:"btn btn-project navbar-btn" %>
               <%= link_to "Cadastre-se!", signup_path, class: "btn btn-project navbar-btn" %>
             <% end %>
         </div>
       </div>
    </nav>
  </div>
  <div class="container">
    <div class="row" style="background-color: #184127">
      <div class="col-md-8">
        <ul class="nav navbar-nav">
          <li><%= link_to "Projetos", projects_path, color: "white" %></li>
          <li><%= link_to "Professores", professors_path , color: "white" %></li>
          <li><%= link_to "Sobre", sobre_path , color: "white"%></li>
          <li class="dropdown">
            <%= link_to "#", class:"dropdown-toggle", color: "white", "data-toggle" => "dropdown", id: "menu1" do %>
              <span>Dúvidas</span>
              <b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation">
                <%= link_to "Tutoriais", tutorials_path %>
              </li>
              <li role="presentation">
                <%= link_to "Dúvidas Frequentes", duvidas_path %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <%# ARRUMAR %>
      <div class="col-md-4">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="widget-search-top" id="busca-teste">
              <form role="search" method="get" id="searchform" class="navbar-form" action="#">
                <div class="input-group">
                  <input type="text" class="form-control search-field" name="s" id="search-bar" accesskey="3" placeholder="Entre com sua busca..." title="Ops... função de busca em construção!">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="fa fa-refresh fa-spin fa-fw" aria-hidden="true"></span></button>
                  </span>
                </div>
              </form>
            </div>
          </li>
        </ul>
      </div>
      <%# ARRUMAR %>
    </div>
  </div>
</header>
